@page
@model PortfolioCs.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<section id="projects-sections">

    <p>Front end</p>
    <p>Full Stack</p>

    <div id="go-back-projects">
        <i class="fas fa-arrow-left"></i>
    </div>

    <section id="frontend-projects">

        <section class="project">
            <img class="project-img" src="./images/website1.png" alt="School landing page." />
            <div class="project-info">
                <h3></h3>
                <p>I created a landing page of a fake campus.</p>

                <p><strong>Used:</strong> (Html5, Css3)</p>
                <div>
                    <a class="live-link" href='https://jasoncarcamo.github.io/schoollayout/' target='blank' aria-label="school live page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/schoollayout' target='blank' aria-label="to github repository">Github repository</a>
                </div>
            </div>
        </section>

        <section class="project">
            <img class="project-img" src="./images/website2.png" alt="Yelp landing page." />
            <div class="project-info">
                <h3>Yelp revamp layout</h3>
                <p>Used React.js and Yelp's API to retrieve a list of restaurants according to user's input.</p>

                <p><strong>Used:</strong> (Html5, Css3, React, Yelp Api)</p>

                <div>
                    <a class="live-link" href='https://jasoncarcamo.github.io/yelp-api/' target='blank' aria-label="to yelp live page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/yelp-api-code' target='blank' aria-label="to yelp github repository">Github repository</a>
                </div>
            </div>
        </section>

        <section class="project">
            <img class="project-img" src="./images/website4.png" alt="Burger joint landing page." />
            <div class="project-info">
                <h3>Burger restaurant</h3>
                <p>Used vanilla programming to create a landing for for a fake burger restaurant.</p>

                <p><strong>Used:</strong> (Html5, Css3)</p>

                <div>
                    <a class="live-link" href='https://jasoncarcamo.github.io/burgerrest/' target='blank' aria-label="to liver burger page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/burgerrest' target='blank' aria-label="to github repository">Github repository</a>
                </div>
            </div>

        </section>

        <section class="project">
            <img class="project-img" src="./images/website3.png" alt="Rhyming app." />
            <div class="project-info">
                <h3>A Rhyming app</h3>
                <p>Helps you find rhyming words by language.</p>

                <p><strong>Used:</strong> (Html5, Css3, React, Rhyme brain Api)</p>

                <div>
                    <a class="live-link" href='https://jasoncarcamo.github.io/reactrhyme/' target='blank' aria-label="to rhyming app live page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/reactrhyme-code' target='blank' aria-label="to rhyming app github repository">Github repository</a>
                </div>
            </div>

        </section>

    </section>

    <section id="backend-projects">

        <section class="project">
            <img class="project-img" src="./images/serenta.png" alt="Serenta landing page." />
            <div class="project-info">
                <h3>Password manager</h3>

                <p>
                    Used Google's map api to create a web app that displays bedrooms and apartments for rent. The app is a prototype and has not been published yet, but spanish and
                    english will be the main language for future users
                </p>

                <p><strong>Used:</strong> (Html5, Css3, React, Express, PostgreSQL, RESTful API)</p>
                <div>
                    <a class="live-link" href='http://serenta.jasoncarcamo30.now.sh/' target='blank' aria-label="to julis live page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/serenta-client' target='blank' aria-label="to password manager github repository">Github repository</a>
                </div>
            </div>
        </section>

        <section class="project">
            <img class="project-img" src="./images/website5.png" alt="Password manager landing page." />
            <div class="project-info">
                <h3>Password manager</h3>

                <p>Users hash, sanitize, and provide protection against cross site scripting before saving their passwords</p>

                <p><strong>Used:</strong> (Html5, Css3, React, Express, PostgreSQL, RESTful API)</p>
                <div>
                    <a class="live-link" href='https://password-manager.jasoncarcamo30.now.sh/' target='blank' aria-label="to julis live page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/password-manager-client' target='blank' aria-label="to password manager github repository">Github repository</a>
                </div>
            </div>
        </section>

        <section class="project">
            <img class="project-img" src="./images/juliscleaningservice.png" alt="Julis cleaning service landing page." />
            <div class="project-info">
                <h3>Julis Cleaning Company</h3>
                <p>Full stack cleaning service company.</p>
                <p>Users get a feel of the company and can quickly request a quote with whatever the client has in mind.</p>

                <p><strong>Used:</strong> (Html5, Css3, React, Express, PostgreSQL, RESTful API)</p>
                <div>
                    <a class="live-link" href='https://juliscleaningcompany.com/' target='blank' aria-label="to julis live page">Live page</a>
                    <a href='https://github.com/jasoncarcamo/julis' target='blank' aria-label="to julis github repository">Github repository</a>
                </div>
            </div>
        </section>

        <section class="project">
            <img class="project-img" src="./images/shoe-comp.png" alt="Shoe comp landing page." />
            <div class="project-info">
                <h3>Shoe comp</h3>
                <p>Full stack shoe company web app.</p>
                <p>Users select shoes with different color combinations and add the shoe to their cart. The shoe stays in the cart incase a user did not confirm or cancel the order.</p>

                <p><strong>Used:</strong> (Html5, Css3, React, Express, PostgreSQL, RESTful API)</p>

                <div>
                    <a class="live-link" href='https://shoe-comp-app.jasoncarcamo30.now.sh/' target='blank' aria-label="to shoe comp live page">Live page</a>

                    <a href='https://github.com/jasoncarcamo/shoe-comp' target='blank' aria-label="to shoe comp github repository">Github repository</a>
                </div>
            </div>
        </section>

    </section>

</section>