@page
@model PortfolioCs.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}

    <script src="~/js/skills.js" async></script>

<section id="skills-section">

    <p>Front end</p>
    <p>Back end</p>
    <p>Tools</p>

</section>

<section id="frontend-skills">
    <div class="close-skills">
        <i class="fas fa-arrow-left"></i>
    </div>

    <p>Html 5 ( Semantics / SEO)</p>
    <p>Css 3</p>
    <p>Bootstrap</p>
    <p>JavaScript</p>
    <p>PHP</p>
    <p>Laravel</p>
    <p>React.js</p>
    <p>React Native</p>

</section>

<section id="backend-skills">
    <div class="close-skills">
        <i class="fas fa-arrow-left"></i>
    </div>

    <p>SQL</p>
    <p>PostgreSQL</p>
    <p>Express.js</p>
    <p>RESTful API</p>
    <p>Knex.js</p>

</section>

<section id="development-tools">
    <div class="close-skills">
        <i class="fas fa-arrow-left"></i>
    </div>

    <p>Node.js</p>
    <p>Unit Testing</p>
    <p>Test Driven Development</p>
    <p>Mocha.js</p>
    <p>Enzyme.js</p>
    <p>Jest.js</p>
    <p>Git</p>
    <p>GitHub</p>
    <p>Command Line</p>
    <p>Relational Databases</p>
    <p>Heroku</p>
    <p>Zeit</p>

</section>

